{% extends "base.html" %}

{% block content %}
<center>
	<b>Сегодня Севилья огласит о подписании Коноплянки</b>
	<hr>
	<p>Испанское издание Marca утверждает, что Севилья согласовала условия трансфера игрока национальной сборной Украины.

Также были улажены детали личного соглашения футболиста с андалусийцами. 

Завтра Евгений пройдет медосмотр, после чего, с большой долей вероятности, о переходе будет объявлено официально.

Ранее сообщалось, что в услугах украинца заинтересованы Атлетико, Ливерпуль и Тоттенхэм.

Напомним, что контракт Коноплянки с Днепром истекает в конце июля.</p>
</center>
{% endblock %}